coremltools==3.0b1
scipy
numpy
cython
argparse
decorator
mock
pytest
pandas
pillow
prettytable
pytz
resampy
requests>=2.9.1
scikit-learn
six
statsmodels
wheel
mxnet
UISoup
pyobjc; sys_platform == 'darwin'
future
pyOpenSSL
ndg-httpsclient
pyasn1
hypothesis
